
$dark : #232326;
$grey : #f3f2f0;
$red : #d40000;
$white : #ffffff;

$fontReg : "Inter-Regular";
$fontBold : "Inter-Bold";
$fontSem : "Inter-Semibold";
$fontMed : "Inter-Medium";
$tr : 0.3s;
$lh : 150%;