@import "normalize";
@import "var";
@import "fonts";

body {
  background-color: $dark;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
  align-items: center;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.vertical-divider {
  line-height: 150%;
  color: $grey;
}
.horizontal-divider {
  background-color: $grey;
  height: 1px;
  width: 100%;
}

.header {
  max-width: 1140px;
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: $fontReg;
  color: $grey;

  &__hrefs,
  &__contacts {
    display: flex;
    &__item,
    &__phone,
    &__mail {
      text-decoration: none;
      color: $grey;
      line-height: 150%;
      transition: $tr;
      &:hover {
        color: $red;
      }
    }
  }

  &__hrefs {
    gap: 28px;
  }
  &__contacts {
    gap: 13px;
  }
}

section {
  max-width: 1140px;
  width: 100%;
  margin-top: 62px;
}

.main__section {
  position: relative;
  &__title {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 120px 0;
    color: $grey;
    .fio {
      margin: 0;
      height: 42px;
      font-size: 28px;
      font-family: $fontReg;
      line-height: 150%;
    }
    .job {
      margin: 0;
      height: 90px;
      letter-spacing: 3%;
      font-size: 74px;
      font-family: $fontBold;
      text-transform: uppercase;
    }
  }
  &__circle {
    position: absolute;
    left: 0;
    top: 375px;
    transform: translateX(-50%);
    width: 253px;
    height: 253px;
    z-index: -1;
  }
  &__small-circle {
    position: absolute;
    right: 0;
    bottom: 152px;
    transform: translateX(-50%);
    width: 106px;
    height: 106px;
    z-index: -1;
  }
  &__triangle {
    position: absolute;
    top: 413px;
    left: 0;
    transform: translateX(-200%);
    width: 76px;
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
  }
  &__discuss {
    width: 170px;
    padding: 0 0 10px;
    border: none;
    background-color: transparent;
    color: $grey;
    font-family: $fontBold;
    font-size: 16px;
    line-height: 150%;
    border-bottom: 1px solid transparent;
    transition: $tr;
    &::after {
      width: 15px;
      content: "\2192";
      margin-left: 15px;
    }
    &:hover {
      border-color: $grey;
    }
  }
  &__socials {
    display: flex;
    gap: 24px;
    &__item {
      text-decoration: none;
      color: $grey;
      transition: $tr;
      &:hover {
        color: $white;
        scale: 1.2;
      }
    }
  }
  &__skills {
    padding-top: 62px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 87px;
    border-top: 1px solid $white;
    height: 81px;
    &__item {
      height: 81px;
      .skill__name {
        color: $white;
        font-family: $fontBold;
        text-transform: uppercase;
        margin: 0 0 15px;
        font-size: 16px;
      }
      .skill__title {
        margin: 0;
        color: $grey;
        font-family: $fontReg;
        font-size: 14px;
      }
    }
  }
}

.title__section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 60px;
  margin-bottom: 180px;
  &__content {
    display: flex;
    justify-content: space-between;
    .self-presentation {
      color: $white;
      font-size: 28px;
      font-family: $fontBold;
      line-height: 150%;
      margin: 0;
    }
    .self-presentation-details {
      margin: 0;
      color: rgba($grey, 0.8);
      font-size: 28px;
      font-family: $fontReg;
      max-width: 50%;
      width: 100%;
      line-height: 150%;
    }
  }
  &__advantage {
    display: grid;
    gap: 70px 60px;
    max-width: 50%;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    &__item {
      .advantage__name {
        margin: 0;
        color: $grey;
        font-family: $fontBold;
        line-height: 150%;
        font-size: 16px;
        margin-bottom: 20px;
      }
      .advantage__title {
        margin: 0;
        color: rgba($grey, 0.8);
        font-size: 14px;
        font-family: $fontReg;
        line-height: 150%;
      }
    }
  }
}

.stages__section {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $grey;
  &__item {
    border-bottom: 1px solid $grey;
    display: flex;
    gap: 40px;
    padding: 30px 0;
    text-align: end;
    .stage__number,
    .stage__name {
      color: $grey;
      line-height: 150%;
      font-size: 28px;
      font-family: $fontReg;
      text-align: start;
    }
    .stage__number {
      width: 30px;
    }
    .stage__name {
      width: 30%;
    }
    .stage__title {
      color: rgba($grey, 0.8);
      line-height: 150%;
      font-size: 16px;
      font-family: $fontReg;
      transform: translateY(25%);
      flex-grow: 1;
      padding-left: 10%;
      text-align: start;
    }
  }
}
.cases__section {
  position: relative;
  padding-top: 90px;
  &__heading {
    font-size: 74px;
    font-family: $fontBold;
    color: $grey;
    text-transform: uppercase;
    height: 90px;
    margin-bottom: 145px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    align-items: center;
    border-bottom: 1px solid $grey;
    .case__content {
      color: rgba($grey, 0.8);
      display: flex;
      flex-direction: column;
      gap: 40px;
      &__name {
        color: $grey;
        line-height: $lh;
        font-size: 28px;
        font-family: $fontBold;
      }
      &__options {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-family: $fontReg;
        &__item {
          &::before {
            content: "- ";
          }
        }
        &__item:not(:last-child) {
          margin-bottom: 18px;
        }
      }
      &__time {
        font-size: 16px;
        font-family: $fontBold;
      }
    }
    .case__image {
      width: 560px;
      height: 315px;
    }
  }

  .linear__background {
    background: linear-gradient(to bottom, rgba(#141416, 1), rgba(#141416, 0));
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100vw;
    height: 70%;
    transform: translateX(-50%);
    z-index: -1;
  }
  .circle__background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 465px;
    height: 465px;
    background-color: $red;
    border-radius: 50%;
  }
}

.benefits__section {
  &__heading {
    font-family: $fontReg;
    font-size: 28px;
    line-height: $lh;
    color: $grey;
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid $grey;
  }
  &__cases {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    align-items: center;
    justify-items: center;
    &__item {
      display: flex;
      width: 300px;
      height: 70px;
      align-items: center;
      gap: 40px;
      &__image {
        width: 40px;
        height: 40px;
      }
      &__title {
        .case__heading {
          color: $grey;
          font-size: 16px;
          font-family: $fontSem;
          margin: 0;
          margin-bottom: 10px;
        }
        .case__text{
          line-height: $lh;
          font-size: 14px;
          color: rgba($grey, 0.8);
          font-family: $fontReg;
          margin: 0;
        }
      }
    }
  }
}
